.form {
    width: 50%;
    border: 1px solid #333;
}

.title {
    text-align: center;
}

.content {
    padding: 10px;
}

.info {
    display: flex;
    justify-content: space-between;
}

.date {
    margin: 10px;
}

.like {
    margin: 10px;
}

i {
    padding: 10px;
}

.btn {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}